<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <style>
            ul.result {
            }
            ul.result li {
                list-style:"❔";
                list-style-position: outside;
            }
            ul.result li.status-success {
                list-style:"✅ ";
            }
            ul.result li.status-warning {
                list-style:"⚠ ";
            }
            ul.result li.status-info {
                list-style:"🛈 ";
            }
            ul.result li.status-skip {
                list-style:"◾ ";
            }
            ul.result li.status-error {
                list-style:"❌ ";
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="{{ url_for("public.index") }}">{% trans %}Checker{% endtrans %}</a>
            <a href="{{ url_for("public.implementations") }}">{% trans %}Implementations{% endtrans %}</a>
        </nav>
        <nav>
            {% for code, language in languages.items() %}
                <a href="{{ url_for(request.endpoint, lang_code=code, **request.view_args) }}">{{ language }}</a>
            {% endfor %}
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% trans %}Made with 💛 by{% endtrans %} <a href="https://yaal.coop">Yaal Coop</a> -
            <a href="https://gitlab.com/yaal/service-discovery-checker/">{% trans -%}Source code{% endtrans %}</a>
        </footer>
    </body>
    {% block script %}{% endblock %}
</html>
