{% extends "base.html" %}

{% block content %}
    <h1>{% trans -%}Discovery specifications{%- endtrans %}</h1>
    <h2>{% trans -%}Existing{%- endtrans %}</h2>
    <ul>
        <li>{% trans
            rfc='<a href="https://datatracker.ietf.org/doc/html/rfc6186">RFC6186</a>'|safe,
            srv='<a href="https://tools.ietf.org/html/rfc2782">SRV</a>'|safe
            -%}
            {{ rfc }} defines DNS {{ srv }} records for mail services (SMTP, IMAP, POP);
{%- endtrans %}</li>
<li>{% trans
    rfc='<a href="https://datatracker.ietf.org/doc/html/rfc5804#section-1.8">RFC5804</a>'|safe,
    srv='<a href="https://tools.ietf.org/html/rfc2782">SRV</a>'|safe
    -%}
    {{ rfc }} defines DNS {{ srv }} records for sieve;
    {%- endtrans %}</li>
<li>{% trans
    rfc='<a href="https://datatracker.ietf.org/doc/html/rfc6764">RFC6764</a>'|safe,
    srv='<a href="https://tools.ietf.org/html/rfc2782">SRV</a>'|safe,
    txt='<a href="https://tools.ietf.org/html/rfc1035">TXT</a>'|safe
    -%}
    {{ rfc }} defines DNS {{ srv }} and {{ txt }} records for CalDAV and CardDAV;
    {%- endtrans %}</li>
<li>{% trans
    rfc='<a href="https://spec.matrix.org/latest/server-server-api/#resolving-server-names">Matrix</a>'|safe,
    srv='<a href="https://tools.ietf.org/html/rfc2782">SRV</a>'|safe,
    well_known='<a href="https://datatracker.ietf.org/doc/html/rfc5785">Well-Known</a>'|safe
    -%}
    {{ rfc }} defines DNS {{ srv }} records and a {{ well_known }} URI for the matrix protocol;
    {%- endtrans %}</li>
<li>{% trans
    rfc='<a href="https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery">OpenID Connect Discovery 1.0</a>'|safe,
    well_known='<a href="https://datatracker.ietf.org/doc/html/rfc5785">Well-Known</a>'|safe -%}
    {{ rfc }} defines a {{ well_known }} URI where to read an OpenID Connect server capabilities.
    {%- endtrans %}</li>
<li>{% trans
    rfc='<a href="https://www.rfc-editor.org/rfc/rfc8414.html#section-7.3">RFC8414</a>'|safe,
    well_known='<a href="https://datatracker.ietf.org/doc/html/rfc5785">Well-Known</a>'|safe -%}
    {{ rfc }} defines a {{ well_known }} URI where to read an OAUTH2 server capabilities.
    {%- endtrans %}</li>
<li>{% trans
    rfc='<a href="https://www.rfc-editor.org/rfc/rfc8707">RFC8707</a>'|safe -%}
    {{ rfc }} indicates how OAUTH2 clients can request tokens for a given resource server on an authorization server.
    {%- endtrans %}</li>
<li>{% trans
    iana='<a href="https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml">IANA</a>'|safe,
    well_known='<a href="https://datatracker.ietf.org/doc/html/rfc5785">Well-Known</a>'|safe -%}
    The {{ iana }} keeps track of all the registered {{ well_known }} URIs.
    {%- endtrans %}</li>
<li>{% trans
    spec='<a href="https://developers.google.com/gmail/imap/xoauth2-protocol">XOAUTH2</a>'|safe -%}
    The {{ spec }} specification describe how to authenticate against IMAP and SMTP servers with OAUTH2 access tokens.
    {%- endtrans %}</li>
</ul>
<h2>{% trans -%}Draft{%- endtrans %}</h2>
<ul>
    <li>{% trans
        spec='<a href="https://www.ietf.org/archive/id/draft-jones-oauth-resource-metadata-04.html">OAuth 2.0 Protected Resource Metadata</a>'|safe -%}
        {{ spec }} indicates how a resource server (CalDAV, Mail etc.) can indicate for which identity server it will accept tokens.
        {%- endtrans %}</li>
</ul>
<h2>{% trans -%}Notably missing{%- endtrans %}</h2>
<ul>
    <li>{% trans rfc='<a href="https://datatracker.ietf.org/doc/html/rfc4918">WebDAV</a>'|safe -%}
        {{ rfc }}
    {%- endtrans %}</li>
    <li>{% trans rfc='<a href="https://patchwork.openvpn.net/patch/1541/">OpenVPN</a>'|safe -%}
        {{ rfc }} has a pending patch for DNS SRV discovery;
    {%- endtrans %}</li>
</ul>

<h1>{% trans -%}State of the implementation of the specifications{%- endtrans %}</h1>
<h2 id="clients">{% trans -%}clients{%- endtrans %}</h2>
<h3 id="clients-mail">{% trans -%}mail{%- endtrans %}</h3>
<table>
    <thead>
        <td></td>
        <td colspan="4">{% trans -%}Discovery{%- endtrans %}</td>
        <td colspan="2">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Client{%- endtrans %}</td>
        <td>
            {% trans -%}IMAP{%- endtrans %}<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6186">RFC6186</a>
        </td>
        <td>
            {% trans -%}POP3{%- endtrans %}<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6186">RFC6186</a>
        </td>
        <td>
            {% trans -%}SMTP{%- endtrans %}<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6186">RFC6186</a>
        </td>
        <td>
            {% trans -%}sieve{%- endtrans %}<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc5804#section-1.8">RFC5804</a>
        </td>
        <td>
            Basic
        </td>
        <td>
            <a href="https://developers.google.com/gmail/imap/xoauth2-protocol">XOAUTH2</a>
        </td>
    </thead>
    <tr>
        <td><a href="https://www.thunderbird.net/">thunderbird</a></td>
        <td><a href="https://support.mozilla.org/en-US/kb/automatic-account-configuration">✅</a></td>
        <td><a href="https://support.mozilla.org/en-US/kb/automatic-account-configuration">✅</a></td>
        <td><a href="https://support.mozilla.org/en-US/kb/automatic-account-configuration">✅</a></td>
        <td><a href="https://github.com/thsmi/sieve">❔</a></td>
        <td>✅</td>
        <td><a href="https://support.mozilla.org/fr/kb/thunderbird-et-gmail">✅</a></td>
    </tr>
    <tr>
        <td><a href="https://roundcube.net/">roundcube</a></td>
        <td>❔</td>
        <td>❔</td>
        <td>❔</td>
        <td>❔</td>
        <td>✅</td>
        <td><a href="https://github.com/roundcube/roundcubemail/issues/6933">✅</a></td>
    </tr>
</table>

<h3 id="clients-caldav-carddav">{% trans -%}CalDAV/CardDAV{%- endtrans %}</h3>
<table>
    <thead>
        <td></td>
        <td colspan="2">{% trans -%}Discovery{%- endtrans %}</td>
        <td colspan="3">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Client{%- endtrans %}</td>
        <td>
            CalDAV<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6764">RFC6764</a>
        </td>
        <td>
            CardDAV<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6764">RFC6764</a>
        </td>
        <td>
            Basic<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc7617">RFC7617</a>
        </td>
        <td>
            Bearer<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6750">RFC6750</a>
        </td>
        <td>
            Resource Indicators for OAuth 2.0<br>
            <a href="https://www.rfc-editor.org/rfc/rfc8707">RFC8707</a>
        </td>
    </thead>
    <tr>
        <td><a href="https://www.davx5.com/">DAVx⁵</a></td>
        <td><a href="https://www.davx5.com/manual/accounts_collections.html#how-does-service-discovery-work">✅</a></td>
        <td><a href="https://www.davx5.com/manual/accounts_collections.html#how-does-service-discovery-work">✅</a></td>
        <td><a href="https://www.davx5.com/manual/settings.html?highlight=password#authentication">✅</a></td>
        <td>❌</td>
        <td>❔</td>
    </tr>
    <tr>
        <td><a href="https://wiki.gnome.org/Apps/GTG">Getting Things GNOME</a></td>
        <td><a href="https://github.com/getting-things-gnome/gtg/issues/910">❌</a></td>
        <td><a href="https://github.com/getting-things-gnome/gtg/issues/910">❌</a></td>
        <td><a href="https://fortintam.com/gtg/user_manual/gtg-caldav.html">✅</a></td>
        <td><a href="https://github.com/getting-things-gnome/gtg/issues/911">❌</a></td>
        <td>❔</td>
    </tr>
</table>

<h3 id="clients-matrix">{% trans -%}Matrix{%- endtrans %}</h3>
<table>
    <thead>
        <td></td>
        <td>{% trans -%}Discovery{%- endtrans %}</td>
        <td colspan="2">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Client{%- endtrans %}</td>
        <td>
            <a href="https://spec.matrix.org/latest/server-server-api/#resolving-server-names">Matrix</a>
        </td>
        <td>
            Basic<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc7617">RFC7617</a>
        </td>
        <td>
            Bearer<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6750">RFC6750</a>
        </td>
        <td>
            Resource Indicators for OAuth 2.0<br>
            <a href="https://www.rfc-editor.org/rfc/rfc8707">RFC8707</a>
        </td>
    </thead>
    <tr>
        <td>
            <a href="https://element.io">Element</a>
        </td>
        <td>✅</td>
        <td>✅</td>
        <td><a href="https://ems-docs.element.io/books/element-cloud-documentation/page/openid-connect">✅</a></td>
        <td>❔</td>
    </tr>
    <tr>
        <td>
            <a href="https://wiki.gnome.org/Apps/Fractal">Fractal</a>
        </td>
        <td>✅</td>
        <td>✅</td>
        <td><a href="https://gitlab.gnome.org/GNOME/fractal/-/issues/521">✅</a></td>
        <td>❔</td>
    </tr>
</table>

<h2 id="servers">{% trans -%}authorization servers{%- endtrans %}</h2>
<h3 id="servers-oauth2-openid-connect">{% trans -%}OAUTH2/OpenID Connect{%- endtrans %}</h3>
<table>
    <thead>
        <td>{% trans -%}Server{%- endtrans %}</td>
        <td>
            <a href="https://datatracker.ietf.org/doc/html/rfc8414">OAUTH2 Well-Known</a>
        </td>
        <td>
            <a href="https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig">OIDC Well-Known</a>
        </td>
        <td>
            <a href="https://openid.net/specs/openid-connect-registration-1_0.html">Dynamic Client Registration</a>
        </td>
        <td>
            <a href="https://www.rfc-editor.org/rfc/rfc8707">RFC8707</a>
        </td>
    </thead>
    <tr>
        <td><a href="https://canaille.yaal.coop/">canaille</a></td>
        <td><a href="https://gitlab.com/yaal/canaille/-/blob/master/canaille/oidc/well_known.py">✅</a></td>
        <td><a href="https://gitlab.com/yaal/canaille/-/blob/master/canaille/oidc/well_known.py">✅</a></td>
        <td><a href="https://gitlab.com/yaal/canaille/-/issues/58">✅</a></td>
        <td>❔</td>
    </tr>
    <tr>
        <td><a href="https://okta.com">okta</a></td>
        <td><a href="https://developer.okta.com/docs/concepts/auth-servers/#org-authorization-server-discovery-endpoints">✅</a></td>
        <td><a href="https://developer.okta.com/docs/concepts/auth-servers/#org-authorization-server-discovery-endpoints">✅</a></td>
        <td><a href="https://developer.okta.com/docs/reference/api/oauth-clients/">✅</a></td>
        <td>❔</td>
    </tr>
    <tr>
        <td><a href="https://keycloak.org">Keycloak</a></td>
        <td>❌</td>
        <td><a href="https://www.keycloak.org/docs/latest/securing_apps/#endpoints">✅</a></td>
        <td><a href="https://www.keycloak.org/docs/latest/securing_apps/#openid-connect-dynamic-client-registration">✅</a></td>
        <td>❔</td>
    </tr>
    <tr>
        <td><a href="https://connect2id.com">Connect2id</a></td>
        <td><a href="https://connect2id.com/products/server/docs/api/discovery">✅</a></td>
        <td><a href="https://connect2id.com/products/server/docs/api/discovery">✅</a></td>
        <td><a href="https://connect2id.com/products/server/docs/api/client-registration">✅</a></td>
        <td>❔</td>
    </tr>
    <tr>
        <td><a href="https://auth0.com">Auth0</a></td>
        <td>❔</td>
        <td><a href="https://auth0.com/docs/get-started/applications/configure-applications-with-oidc-discovery">✅</a></td>
        <td><a href="https://auth0.com/docs/get-started/applications/dynamic-client-registration">✅</a></td>
        <td>❔</td>
    </tr>
</table>

<h2 id="servers">{% trans -%}resource servers{%- endtrans %}</h2>
<h3 id="servers-mail">{% trans -%}Mail{%- endtrans %}</h3>
<h4 id="servers-mail-pop3-imap">POP3/IMAP</h4>
<table>
    <thead>
        <td></td>
        <td colspan="2">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Server{%- endtrans %}</td>
        <td>
            Password
        </td>
        <td>
            XOAUTH2
        </td>
    </thead>
    <tr>
        <td>
            <a href="https://www.dovecot.org/">dovecot</a>
        </td>
        <td><a href="https://doc.dovecot.org/configuration_manual/authentication/">✅</a></td>
        <td><a href="https://doc.dovecot.org/configuration_manual/authentication/oauth2/">✅</a></td>
    </tr>
</table>

<h4 id="servers-mail-smtp">SMTP</h4>
<table>
    <thead>
        <td></td>
        <td colspan="2">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Server{%- endtrans %}</td>
        <td>
            Password
        </td>
        <td>
            XOAUTH2
        </td>
    </thead>
    <tr>
        <td>
            <a href="https://www.postfix.org/">postfix</a>
        </td>
        <td><a href="https://www.postfix.org/SASL_README.html#server_dovecot_comm">✅</a></td>
        <td><a href="https://www.postfix.org/SASL_README.html#server_dovecot_comm">✅</a></td>
    </tr>
    <tr>
        <td>
            <a href="https://www.postfix.org/">OpenSMTPD</a>
        </td>
        <td>✅</td>
        <td><a href="https://github.com/OpenSMTPD/OpenSMTPD/issues/1062">❌</a></td>
    </tr>
</table>

<h3 id="servers-caldav-carddav">{% trans -%}CalDAV/CardDAV{%- endtrans %}</h3>
<table>
    <thead>
        <td></td>
        <td>{% trans -%}Discovery{%- endtrans %}</td>
        <td colspan="4">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Server{%- endtrans %}</td>
        <td>
            <a href="https://datatracker.ietf.org/doc/html/rfc6764">Well-Known URI</a>
        </td>
        <td>
            Basic<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc7617">RFC7617</a>
        </td>
        <td>
            Bearer<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6750">RFC6750</a>
        </td>
        <td>
            OAuth2 Resource indicators<br>
            <a href="https://www.rfc-editor.org/rfc/rfc8707">RFC8707</a>
        </td>
        <td>
            OAuth 2.0 Protected Resource Metadata<br>
            <a href="https://www.ietf.org/archive/id/draft-jones-oauth-resource-metadata-04.html">draft-jones-oauth-resource-metadata-04.html</a>
        </td>
    </thead>
    <tr>
        <td>
            <a href="https://radicale.org">radicale</a>
        </td>
        <td>
            <a href="https://github.com/Kozea/Radicale/commit/fd977891e8016eb5323ab0bfaa58f2f84dfe13ce">❌</a>
        </td>
        <td>
            <a href="https://radicale.org/v3.html#authentication">✅</a>
        </td>
        <td><a href="https://github.com/Kozea/Radicale/issues/1324">❌</a></td>
        <td>❌</td>
        <td>❌</td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/jelmer/xandikos">xandikos</a>
        </td>
        <td>
            <a href="https://github.com/jelmer/xandikos/blob/master/docs/source/clients.rst#configuring-clients">✅</a>
        </td>
        <td>✅</td>
        <td><a href="https://github.com/jelmer/xandikos/issues/138">❌</a></td>
        <td>❔</td>
        <td>❔</td>
    </tr>
    <tr>
        <td>
            <a href="https://nextcloud.com">nextcloud</a>
        </td>
        <td>
            <a href="https://docs.nextcloud.com/server/latest/admin_manual/issues/general_troubleshooting.html#service-discovery-label">✅</a>
        </td>
        <td>✅</td>
        <td><a href="https://github.com/pulsejet/nextcloud-oidc-login">✅</a></td>
        <td>❔</td>
        <td>❔</td>
    </tr>
</table>

<h3 id="servers-matrix">{% trans -%}Matrix{%- endtrans %}</h3>
<table>
    <thead>
        <td></td>
        <td>{% trans -%}Discovery{%- endtrans %}</td>
        <td colspan="2">{% trans -%}Authentication{%- endtrans %}</td>
    </thead>
    <thead>
        <td>{% trans -%}Server{%- endtrans %}</td>
        <td>
            <a href="https://spec.matrix.org/latest/server-server-api/#resolving-server-names">Matrix</a>
        </td>
        <td>
            Basic<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc7617">RFC7617</a>
        </td>
        <td>
            Bearer<br>
            <a href="https://datatracker.ietf.org/doc/html/rfc6750">RFC6750</a>
        </td>
        <td>
            OAuth2 Resource indicators<br>
            <a href="https://www.rfc-editor.org/rfc/rfc8707">RFC8707</a>
        </td>
        <td>
            OAuth 2.0 Authorization Server Discovery<br>
            <a href="https://www.ietf.org/archive/id/draft-parecki-oauth-authorization-server-discovery-00.html">draft-parecki-oauth-authorization-server-discovery-00</a>
        </td>
    </thead>
    <tr>
        <td>
            <a href="https://element.io">Synapse</a>
        </td>
        <td><a href="https://matrix-org.github.io/synapse/latest/setup/installation.html?highlight=well-known#client-well-known-uri">✅</a></td>
        <td><a href="https://matrix-org.github.io/synapse/latest/usage/configuration/user_authentication/index.html">✅</a></td>
        <td><a href="https://matrix-org.github.io/synapse/latest/openid.html">✅</a></td>
        <td>❔</td>
        <td>❔</td>
    </tr>
    <tr>
        <td>
            <a href="https://matrix-org.github.io/dendrite/">Dendrite</a>
        </td>
        <td><a href="https://matrix-org.github.io/dendrite/installation/domainname#well-known-delegation">✅</a></td>
        <td>❔</td>
        <td>❔</td>
        <td>❔</td>
        <td>❔</td>
    </tr>
    <tr>
        <td>
            <a href="https://conduit.rs/">Conduit</a>
        </td>
        <td><a href="https://gitlab.com/famedly/conduit/-/issues/244">❌</a></td>
        <td>✅</td>
        <td><a href="https://gitlab.com/famedly/conduit/-/issues/134">❌</a></td>
        <td>❔</td>
        <td>❔</td>
    </tr>
</table>

{% endblock %}
