{% extends "base.html" %}
{% import 'macros.j2' as m %}

{% block script %}
    <script>
        document.getElementById("domain").focus()
    </script>
{% endblock %}

{% block content %}
    <h1>{% trans -%}Service discovery checker{%- endtrans %}</h1>
    <h2>{% trans -%}Test if users can use your services without knowing configuration details{%- endtrans %}</h2>
    <p>
        {% trans
        srv='<a href="https://tools.ietf.org/html/rfc2782">SRV</a>'|safe,
        txt='<a href="https://tools.ietf.org/html/rfc1035">TXT</a>'|safe,
        well_known='<a href="https://datatracker.ietf.org/doc/html/rfc5785">Well-Known</a>'|safe
        -%}
        Tools like the DNS {{ srv }} and {{ txt }} records, or the {{ well_known }} URIs allow users find a service full path and/or configuration just by knowing its main domain name.
{%- endtrans %}
{% trans -%}This tool allows you to check if you DNS entries are correctly configured for service discovery, and some other good practices like IPV6 accessibility.{%- endtrans %}
{% trans %}This will also check your OAUTH2/<acronym title="OpenID Connect">OIDC</acronym> identity server for discovery and dynamic registration, and that your services can authenticate against your identity server.{% endtrans %}
{% trans -%}You want to know more? Check out which services are discoverable, Yand which clients are able to discover them.{%- endtrans %}
<a href="{{ url_for("public.implementations") }}">{% trans -%}Read more{%- endtrans %}</a>
</p>
{{ m.render_form(form) }}
<h2>{% trans -%}Why this tool?{% endtrans %}</h2>
<p>
    {% trans -%}
        When developping an online service, asking users to know technical data in order to be able to use the service is a difficulty that can be avoided.
        The discovery tools offered by DNS could partially answer that difficulty, but although they have existed for a while, they have not been widely adopted yet.
        This tool aims to encourage the usage of DNS discovery by service prodivers and clients, identity server discovery and dynamic registration, and in the end lower the barrier to open standards adoption.
    {%- endtrans %}
</p>
{% endblock %}
