{% macro render_field(
field,
container=true,
label=true
) -%}
{% set field_visible = field.type != 'HiddenField' and field.type !='CSRFTokenField' %}
{%- if container and field_visible -%}
    <div class="{{ kwargs.pop('container_class', '') }}
        {%- if field.errors -%} error{%- endif -%}
        {%- if field.render_kw and "disabled" in field.render_kw -%} disabled{% endif -%}"
    >
{%- endif -%}

{% if field_visible and label and field.type not in ("SubmitField", ) -%}
    {{ field.label() }}
{%- endif %}

{{ field(**kwargs) }}

{% for error in field.errors %}
    <div class="error">
        <p>{{ error }}</p>
    </div>
{% endfor %}

{% if container and field_visible %}
    </div>
{% endif %}
{% endmacro %}

{% macro render_form(
form,
class=none,
action=none,
id=none,
method="POST") -%}
<form method="{{ method }}"
    id="{{ id or form.__class__.__name__|lower }}"
    action="{{ action or form.action }}"
    role="form"
    {% if method == "POST" %}enctype="multipart/form-data"{% endif %}
    class="form{% if class %} {{ class }}{% endif %}"
>
    {% if caller %}
        {{ caller() }}
    {% else %}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
    {% endif %}
</form>
{%- endmacro %}
