{% extends "base.html" %}
{% import 'macros.j2' as m %}

{% macro status_icon(status) %}
    {%- if status == "success" -%}
        ✅
    {%- elif status == "warning" -%}
        ⚠
    {%- elif status == "info" -%}
        🛈
    {%- elif status == "skip" -%}
        ◾
    {%- elif status == "error" -%}
        ❌
    {%- else -%}
        ❔
    {%- endif -%}
{% endmacro %}

{% block content %}
    <h1>{% trans %}Service discovery checker{% endtrans %}</h1>
    {{ m.render_form(form) }}

    <h2>{{ _("Result for domain %(domain)s", domain=domain) }}</h2>
    {% if not results %}
        <div id="waiting-message">
            {% trans -%}
                The domain is being processed, please reload the page in a few seconds.
            {%- endtrans %}
        </div>
    {% else %}
        <em>{{ _("Last checked at %(last_check_date)s", last_check_date=provider.last_update) }}</em>
        {% for group_name, group_results in results.items() %}
            <h3>{{ status_icon(group_results.status) }} {{ group_name }}</h3>
            <ul class="result">
                {% for result in group_results.results %}
                    <li class="check-{{ result.check_id }} message-{{ result.message_id }} status-{{ result.status.value }}">
                        {{ result.message|safe }}
                        <br>
                        {% if result.details %}
                            <em>{{ result.details|safe }}</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block script %}
    {% if not results %}
        <script>
            function tick(remaining_time) {
                document.getElementById("waiting-message").innerHTML = remaining_time + " {{ _("seconds before page is reloaded") }}"
                if (remaining_time == 0) {
                    window.location.reload()
                }
                else {
                    setTimeout(tick, 1000, remaining_time - 1)
                }
            }
            tick(5)
        </script>
    {% endif %}
{% endblock %}
